* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #d6d3cd;
    overflow: hidden;
    height: 100%;
}

/* ***************** HEADER / NAV ********************** */

header {
    width: 100%;
    height: 14%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

header h2 {
    width: 20px;
    margin-left: 30px;
}

header h2 a {
    font-size: 30px;
    letter-spacing: 8px;
    text-decoration: none;
    color: black;
}

header p {
    margin-left: 20px;
    height: 100%;
    width: 4%;
    display: flex;
    align-items: center;
}

.menu {
    text-align: center;
    color: black;
    font-size: 40px;
    text-decoration: none;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 9;
}

nav ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Raleway';
    font-weight: bold;
}

nav ul li a::after {
    content: "";
    display: block;
    height: 1px;
    background: black;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

nav ul li a:hover::after {
    transform: scale(1);
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style-type: none;
    padding: 0 20px;
}

.button button {
    padding: 10px 25px;
    background-color: black;
    margin-right: 20px;
    border-radius: 20px;
}

.button button{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: bold;
}

.button button:hover {
    background-color: #B3A0CE;
    border: 2px solid #744fa8;
    transition: 0.2s;
    cursor: pointer;
    scale: 1.05;
}

.button p {
    display: none;
}

@media (max-width : 995px) {
    nav ul li a {
        font-size: 14px;
    }

    .button button {
        padding: 5px 12px;
    }

    .button {
        margin-right: 60px;
    }

    header h2 a {
        font-size: 18px;
        letter-spacing: 4px;
        text-decoration: none;
        color: black;
    }
}

@media (max-width : 835px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    nav ul p {
        display: block;
        font-size: 30px;
    }

    nav ul li a {
        display: none;
    }

    .button button {
        display: none;
    }

    .button p {
        display: block;
        font-size: 30px;
    }

    .button p a {
        text-decoration: none;
        color: black;
    }

    .menu {
        display: none;
    }
}

section{
    width: 100%;
    height: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    text-align: center;
    display: flex;
}

form .droite{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
}

form input, textarea{
    margin-top: 20px;
    box-shadow: 0px 7px 0px -4px #000000;
    border-radius: 10px;
}

form input{
    padding: 10px 10px;
    font-family: 'Raleway';
    font-weight: bold;
}

form input[type=submit]{
    padding: 10px 30px;
}

form textarea{
    padding: 5px 5px;
    font-family: 'Raleway';
    font-weight: bold;
}

input[type=submit]:hover{
    padding: 10px 15px;
    transition: 0.3s;
    background-color: #B3A0CE;
    color: white;
    cursor: pointer;
}

h1{
    margin-bottom: 20px;
}

h1 a{
    color: black;
    text-decoration: underline;
}

h1 a:hover{
    color: #744fa8;
}

section p{
    margin-top: 15px;
    color: red;
    letter-spacing: 2px;
    font-family: 'Raleway';
    font-weight: bold;
}

section div{
    margin-top: 15px;
    color: #744fa8;
    letter-spacing: 2px;
    font-family: 'Raleway';
    font-weight: bold;
}